<% provide :title, t("title.help") %>
<h1><%= t ".help" %></h1>
<p>
  <%= t ".body1" %>
  <a href="http://www.railstutorial.org/help"><%= t ".help_link1" %></a>.
  <%= t ".body2" %>
  <a href="http://www.railstutorial.org/book"><%= t ".help_link2" %></a>.
</p>
